@import './login.component.scss';
@import './register.component.scss'; // For strength bar styles
@import './forgot-password.component.scss'; // For success styles

.back-link {
  color: #c62828;
  text-decoration: none;
  font-weight: 500;
  
  &:hover {
    color: #b71c1c;
    text-decoration: underline;
  }
}
